body {
    background-color: white; 
    font-family: sans-serif;
    color: black;
}

h2 {
    display: flex; 
    width: 100%; 
    justify-content: center;
    vertical-align: center;
    text-transform: uppercase;
}

button{
    display: flex; 
    justify-content: center; 
    vertical-align: center; 
    align-items: center; 
    height: 50px; 
    width: 25%; 
    margin-left: 37.5%; 
    margin-right: 37.5%;   
    border-radius: 4px; 
    background-color: white;
}

form {
    margin: 0 auto; 
    width: 250px; 
    display: none;
}
